*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
body{
    background-color: #d8e1e9;
}
.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #373f51;
    padding: 15px 25px;
    text-align: center;
    overflow: hidden;
}
.menuLi {
    display:inline;
    
}
button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #008DD5;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #F19953;
}
#title{
    font-size: 25px;
    margin-top: 10px;
}
.slider {
    -webkit-appearance: none;
    width: 15%;
    height: 10px;
    background: #d8e1e9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
    border-radius: 25px;
}
.slider:hover {
    opacity: 1;
    background-color: #F19953;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #008DD5;
    cursor: pointer;
    border-radius: 25px;
}
.rwindow{
    width: 1000px;
    height: 700px;
    
    margin: auto;
    background-color: #d8e1e9;
    overflow: hidden;
}
.fieldObj{
    text-align: center;
    display: inline-block;
    margin-left: 1px;
    background-color: #008DD5;
}
a{
    text-decoration: none;
}
h3{
    color: rgb(39, 39, 39);
    margin-top: 10px;
    font-size: 30px;
}
h4{
    color: rgb(39, 39, 39);
    margin-top: 30px;
    font-size: 26px;
}
.help{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.helpList{
    margin-top: 5px;
    list-style-type: none;
}
.helpList li{
     color: rgb(39, 39, 39);
     margin-top: 3px;
}
.helpPara{
    color: rgb(39, 39, 39);
    margin-top: 10px;
}
.divider{
    height: 40px;
    width: 2px;
    background-color: white;
    border-radius: 4px;

}
#disBut{
    margin-right: 10px;
}