*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
body{
    background-color: #d8e1e9;
}
.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #373f51;
    padding: 15px 25px;
    text-align: center;
    overflow: hidden;
}
.menuLi{
    display: inline;
    
}
button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #008DD5;
    border-radius: 10px;
    margin-left: 10px;
}
#title{
    font-size: 25px;
    margin-top: 10px;
}
.rwindow{
    width: 1000px;
    height: 700px;
    position: relative;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(231, 231, 231);
}